<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- For loanSystem -->
    <context:component-scan base-package="loanSystem"></context:component-scan>

	<!-- For com.ncu.MavenSpring <bean id="c" class="com.ncu.MavenSpring.C" 
		><constructor-arg name="c" value="c"/></bean> <bean id="b" class="com.ncu.MavenSpring.B" 
		scope="prototype"><property name="c" ref="c"/></bean> <bean id="a" class="com.ncu.MavenSpring.A" 
		><property name="b" ref="b"/></bean> -->

	<!-- For first <context:component-scan base-package="first"></context:component-scan> -->

	<!-- For second 
	<context:component-scan base-package="second"></context:component-scan>-->
	
	<!-- For third 
	
	<context:component-scan base-package="sixth"></context:component-scan>
	
	<bean id="info" class="third.Sourcing"></bean>

	<bean id="quickinfo" class="third.QuickData"></bean>

	<bean id="gen" class="third.Generate"></bean>

	<bean id="edu" class="third.Education"></bean>

	<bean id="dupe" class="third.Dedupe"></bean>

	<bean id="io" class="third.IOOperation"></bean>

	<bean id="score" class="third.Scoring"></bean>-->
	
	<!-- For fifth <context:component-scan base-package="fifth"></context:component-scan> -->
	
	<!-- For sixth <context:component-scan base-package="sixth"></context:component-scan> -->
	


</beans>   